<%= form_for :loudnessmeasure, url: loudnessmeasures_path , html: { id: "loudnessNew" } do |f| %>
  <% if @loudnessmeasure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loudnessmeasure.errors.count, "error") %> found</h2>
      <ul>
       <% @loudnessmeasure.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
      </ul>
    </div>
  <% end %> <p>
    <%= f.label 'Name' %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label 'Obs' %><br>
    <%= f.text_area :obs %>
  </p>

  <%= f.hidden_field :url  %>

 <script type="text/javascript">
    function check_params_and_show_error() {
      var strname = $('#loudnessmeasure_name').val();
      var strurl = $('#loudnessmeasure_url').val();
      var ret = false;

      if ((strname.trim() == "") && (strurl.trim() == ""))
        alert ("You have to enter a valid name and upload a media file first");
      else if ((strname.trim() == "") && (strurl.trim() != ""))
        alert ("You have to enter a valid name");
      else if ((strname.trim() != "") && (strurl.trim() == ""))
        alert ("You have to upload a media file first");
      else
        ret = true;

      return ret;
    }
  </script>
<% end %>

<%= s3_uploader_form id: "s3_uploader", max_file_size: 100.megabytes do %>

  <p>
    <%= file_field_tag :file, multiple: false %>
  </p>

  <script type="text/javascript">

    $(document).on("click","#loudnessmeasures_visible_submit",function(){
      if (check_params_and_show_error() == true)
      {
        $('#loudnessNew').submit();
      }
    });
  </script>

  <div id="uploads_container"></div>
  <script id="template-upload" type="text/x-tmpl">
    <div id="upload_{%=o.unique_id%}" class="upload">
      <h5>{%=o.name%}</h5>
      <div class="progress progress-striped active">
        <div class="bar" style="width: 0%"></div>
      </div>
    </div>
  </script>

<% end %>

<p id="loudnessmeasures_visible_submit">
  <%= button_tag "Add to loudness measure queue", type: 'button' %>
</p>