<p>
  <strong>State:</strong>
  <%= @loudnessmeasure.state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @loudnessmeasure.name %>
</p>
 
<p>
  <strong>Obs:</strong>
  <%= @loudnessmeasure.obs %>
</p>

<strong>Original media file:</strong>
  <%= @loudnessmeasure.filename_plain %>
</p>

<%= link_to 'See loudness measures state', loudnessmeasures_path %>